* {
  box-sizing: border-box;
}

.bg-img-pass {
  /* The image used */
  /* background-image: url("https://s3.ap-south-1.amazonaws.com/www.blackstonegamedevelopment.in/pass1.jpeg"); */

  min-height: 426px;
  min-width:1280px;
  max-width:1280px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Add styles to the form container */
.container-pass {
    position: absolute;
    right: 0;
    margin: 100px 64px 22px 0;
    max-width: 300px;
    padding: 16px;
}
.container-pass2 {
  position: relative;
  text-align: center;
  color: white;
  min-height: 426px;
  min-width:1280px;
  max-width:1280px;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 92px;
    right: 82px;
}
.imgSet{
  width: 291px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Center the loader */
#loader {
  position: absolute;
    left: 51%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #f3f3f3;
    animation: spin 2s cubic-bezier(0.99, -0.26, 0.11, 1.28) infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#root {
  display: none;
}